{% extends 'base.html.twig' %}
{% block title %}Data Deletion Instructions{% endblock %}
{% block body %}
<div>
    <h1 class="text-xl font-semibold my-3 dark:text-gray-50">Data Deletion Instruction</h1>
    <p class="leading-relaxed my-3 text-gray-800 dark:text-gray-200">Buyers and Sellers NG is just a Classified Ads Poral and we do not save your personal data in our server. But according to the Facebook Platform rules, we have to provide User Data Deletion Callback URL or Data Deletion Instructions URL. If you want to delete your activities for Buyers and Sellers NG, you can remove your activities by the following instructions.
    </p>
    <ul>
        <li class="dark:text-gray-200 text-gray-800 my-1 ml-5 list-disc">Go to Your Facebook Account’s Setting and Privacy. Click "Setting".</li>
        <li class="dark:text-gray-200 text-gray-800 my-1 ml-5 list-disc">Then, go to "Apps and Websites" and you will see all of your Apps activities.
            Select the option box of <b>Buyers and Sellers NG</b>.</li>
        <li class="dark:text-gray-200 text-gray-800 my-1 ml-5 list-disc">Click <b>Remove</b> button.</li>
        <li class="dark:text-gray-200 text-gray-800 my-1 ml-5 list-disc">Congratulation , you are successfully remove your activities</li>
    </ul>
</div>
{% endblock %}