{% extends 'base.html.twig' %}
{% block title %}Single Comment{% endblock %}
{% block body %}
<div id="parent-container">
    <div class="single-comment flex w-full flex-wrap bg-white dark:bg-gray-800 shadow-xs border dark:border-gray-700 p-3 mb-1">
        <div class="meta block mb-2">
            <span class="w-full text-sm font-medium">{{comment.user.fullname}}</span>
            <span class="w-full text-sm font-light italic">{{comment.createdAt|ago_date}}</span>
        </div>
        <div class="w-full">
            {{ comment.content|nl2br}}
        </div>
        
    </div>
</div>
{% endblock %}