<form class="flex w-full items-center justify-center" method="post" action="{{ path('upload_remove', {'id': upload.id}) }}" data-action='submit->advert#delete_upload' data-uploadbox="upbox_{{upload.id}}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ upload.id) }}">
    <button class="focus-outline:none focus:ring-0 hover:text-deep-orange-600 dark:text-white">Delete</button>
</form>
