@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "dropzone/dist/min/dropzone.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";


label.required:after {
    content: "*";
}

/*allow clicakble events in svg */
svg {
    pointer-events: none;
}

a object{
  pointer-events: none;
}

.no-pointer-event{
    pointer-events: none;
}

.page-title {
  background-image:linear-gradient(rgba(200, 72, 27, 0.7), rgba(200, 72, 27, 0.7)), url(../img/cover.png)
}

.fixed-container {
    position: sticky;
}

/* dropzone styles */
.dropzone {
  @apply border-2 rounded-lg border-gray-400 border-dashed;

  &.dz-drag-hover {
    @apply border-2 rounded-lg border-gray-200 border-dashed;

    .dz-message {
      opacity: 0.9;
    }
  }
}

.sl-overlay {
    background: #000;
    bottom: 0;
    display: none;
    opacity: .95;
    right: 0;
    z-index: 1035;
}

.sl-wrapper .sl-navigation button {
    color: #9a9191;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-counter {
    color: #9a9191;
}

