@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

label.required:after {
    content: "*";
}

/*allow clicakble events in svg */
svg {
    pointer-events: none;
}

a object{
  pointer-events: none;
}

.no-pointer-event{
    pointer-events: none;
}

.page-title {
  background-image:linear-gradient(rgba(200, 72, 27, 0.7), rgba(200, 72, 27, 0.7)), url(../img/cover.png)
}

.fixed-container {
    position: sticky;
}

