<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="bg-gray-50 dark:bg-gray-700 font-sans antialiased leading-normal tracking-normal ">
            <div class="fixed right-0 top-0" data-controller="mode">
        <button class="inline-flex bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-0" data-action="click->mode#toggleDarkMode">
            <div data-mode-target="dark">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                </svg>
            </div>
            <div data-mode-target="light" class="text-yellow-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd" />
                </svg>
            </div>
        </button>
    </div>
        <div class="lg:flex">
            <div class="lg:w-1/2 xl:max-w-screen-sm">
                <div class="py-12 bg-deep-orange-600 lg:bg-white dark:bg-gray-600 flex justify-center lg:justify-start lg:px-12">
                    <div class="cursor-pointer flex items-center">
                       <div class="flex flex-wrap justify-between items-center w-full">
                <a href="{{ path("home")}}" class="w-full lg:w-auto flex title-font font-medium items-center dark:text-white text-gray-900 mb-4 md:mb-0">
                   <span class="text-deep-orange-500 font-black text-2xl sm:text-4xl">Buyers</span>
                   <span class="font-black mt-2 text-lg sm:text-2xl">and</span>
                   <span class="text-deep-orange-500 font-black text-2xl sm:text-4xl">Sellers</span> 
                   <span class="font-black text-2xl sm:text-4xl">.ng</span>
                </a>
            </div> 
                    </div>
                </div>
                {% block body %}
                
            {% endblock %}
            </div>
            <div class="hidden lg:flex items-center justify-center bg-deep-orange-50 dark:bg-gray-800 flex-1 h-screen">
                <div class="max-w-lg transform duration-200 hover:scale-110 cursor-pointer">
                    <img style="width: 600px" src="{{asset('images/back.png')}}" alt="Room Image">
                </div>
            </div>
        </div>
    </body>
</html>
