{% extends 'base.html.twig' %}

{% block title %}Update {{ advert }}{% endblock %}

    {% block body %}
<div class="content flex flex-wrap justify-between">
    <div class="left md:w-3/4 w-full my-2 rounded-t">
        <div class="bg-white dark:bg-gray-600 dark:text-white w-full rounded shadow flex flex-wrap card text-gray-900 mr-3 mb-2">
            <div class="page-title bg-purple-700 dark:bg-gray-700 w-full text-white p-5 rounded-t">
                <div class="w-full">
                    <h2 class="text-2xl font-bold leading-7 text-gray-100 dark:text-indigo-200 sm:text-3xl sm:truncate">
                        Update {{advert}}
                    </h2>
                    <div class="subtitle mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                        <div class="mt-1 flex items-center text-sm text-gray-100 dark:text-indigo-200">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" viewBox="0 0 20 20" fill="currentColor">
  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
</svg> 
                            update advert
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 w-full">
                {{ include('advert/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    <div class="hidden lg:block right w-full md:w-1/5 mt-5 md:mt-2 ">
        {% include 'tag/tags.html.twig' %}
    </div>
</div>

{% endblock %}
