{% extends 'base.html.twig' %}
{% block title %}New Advert{% endblock %}
{% block body %}
<div class="content flex flex-wrap justify-between">
    <div class="left md:w-3/4 w-full my-2 rounded-t">
        <div class="bg-white dark:bg-gray-600 dark:text-white w-full rounded shadow flex flex-wrap card text-gray-900 mr-3 mb-2">
            <div class="page-title bg-deep-orange-700 dark:bg-gray-700 w-full text-white p-5 rounded-t">
                <div class="w-full">
                    <h2 class="text-2xl font-bold leading-7 text-gray-100 dark:text-gray-50 sm:text-3xl sm:truncate">
                        Create an ad to buy or sell a good or service
                    </h2>
                    <div class="subtitle mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                        <div class="mt-1 flex items-center text-sm text-white dark:text-deep-orange-200">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            Place a new advert
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 w-full">
                {{ include('advert/_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="hidden lg:block right w-full md:w-1/5 mt-5 md:mt-2 ">
        {% include 'tag/tags.html.twig' %}
    </div>
</div>
{% endblock %}